.voyager .navbar.navbar-default .navbar-header .navbar-brand,
.voyager .navbar .navbar-header .navbar-brand {
    color: black;
}

.voyager .side-menu.sidebar-inverse .navbar li>a {
    color: #fef200;
}

.panel.widget h4 {
    color: black;
}

.panel.widget p {
    color: black;
}

.panel.widget .dimmer {
    border-style: solid;
    border-width: 1px;
    border-color: #fafafa;
    background: #fff !important;
    -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 45%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 45%);
    border-top: 4px solid #fef200;
}

.btn.btn-primary {
    background: #fef200;
}

.panel.widget .btn-primary,
.panel.widget .readm-link {
    color: #000;
}

.side-menu.sidebar-inverse.ps.ps--active-y {
    background: #000;
}

footer.app-footer {
    display: none;
}

.analytics-container {
    display: none;
}

body.login .login-button {
    color: #000;
}

.voyager .btn-group-sm>.btn,
.voyager .btn-group-sm>.btn:hover,
.voyager .btn.btn-sm,
.voyager .btn.btn-sm:hover {
    border-width: 1px;
    border-color: hsla(0, 0%, 100%, 0);
    color: #000;
}

.breadcrumb {
    background-color: #000;
}

.breadcrumb li:last-child {
    color: white;
}

.btn.btn-primary {
    color: black;
}

body.login .login-button:focus,
body.login .login-button:hover {
    color: #000;
}

.bread-actions .delete span {
    color: white;
}

a.btn.btn-sm.btn-warning.pull-right.view {
    color: white;
}

i.voyager-trash {
    color: white;
}

#current_date {
    display: none;
}

#latitude {
    display: none;
}

#longitude {
    display: none;
}

#start_time {
    display: none;
}

#end_time {
    display: none;
}

#created_by {
    display: none;
}

#updated_by {
    display: none;
}